.section-4 {
  z-index: 3;
  background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;
  opacity: 0;
  position: relative;
  width: 2200px;
  bottom: 55rem;
  padding-block: 7rem;
  padding-left: 4rem;
  background-color: var(--cl-dark-bg);
  height: 1200px;

  p {
    max-width: 50rem;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.visible {
  opacity: 1;
  transition: all 0.2s;
}

.backBtn {
  color: white;
}

.section-4-title {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.txt-light {
  color: var(--cl-text-light);
}

.txt-light-sub {
  color: var(--cl-text-light-sub);
}

.turntable4 {
  overscroll-behavior: none;
  border: 1px solid white;
  background-color: var(--cl-dark-bg);
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  flex-wrap: wrap;
  overflow-y: scroll;
  margin-left: 4rem;
  grid-column: 1/ 20;
  grid-row: 2/3;
  width: 80%;
  height: 800px;
  min-height: 0;
}

.video-item {
  position: relative;
  display: flex;
}

.player-thumb-overlay {
  display: none;
  color: var(--cl-point-orange);
  position: absolute;
  bottom: 2.4rem;
  height: 7.5rem;
  width: 10rem;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.player-thumb {
  cursor: pointer;
  position: relative;
  vertical-align: center;
  width: 10rem;
  height: 10rem;
  aspect-ratio: 1 / 1;
  transition: all 1s;
  &:hover {
    .player-thumb-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s;
    }
  }
}

.player-thumb-label {
  position: absolute;
  height: 8rem;
  cursor: pointer;
  max-width: 15rem;
  bottom: 2.5rem;
  left: 11.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    margin-bottom: 0;
    font-size: 1.3rem;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-wrap: balance;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}

.playerMode {
  position: absolute;
  border-radius: 10px;
  bottom: 21rem;
  left: 83rem;
  width: 28rem;
  height: 38.8rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  .player-thumb {
    width: 8.5rem;
    height: 8.5rem;
  }
  .player-thumb-label {
    bottom: 1.4rem;
    left: 10rem;
    p {
      font-size: 1rem;
      text-wrap: wrap;
    }
  }
  .player-thumb-overlay {
    bottom: 2.08rem;
    height: 6.5rem;
    width: 8.5rem;
  }
}

.video-container {
  border: 1px solid white;
  border-radius: 5px;
  width: 80rem;
  height: 39.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1920px) {
  .turntable4 {
    margin-left: 3rem;
    width: 80%;
  }
  .playerMode {
    width: 28rem;
  }
}
@media screen and (max-width: 1836px) {
  .section-4 {
    bottom: 60rem;
  }
  .playerMode {
    width: 25rem;
  }
}
@media screen and (max-width: 1800px) {
  .section-4 {
    bottom: 60rem;
    height: 1600px;
  }
  .turntable4 {
    width: 75%;
  }
  .video-container {
    margin-left: 10rem;
  }
  .playerMode {
    top: 58rem;
    left: 11rem;
    width: 80rem;
    height: 14rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (max-width: 1730px) {
  .turntable4 {
    width: 70%;
  }
  .playerMode {
    width: 80rem;
  }
}

@media screen and (max-width: 1720px) {
  .section-4 {
    bottom: 67rem;
  }
}
@media screen and (max-width: 1630px) {
  .turntable4 {
    width: 65%;
  }
  .playerMode {
    width: 80rem;
  }
}
@media screen and (max-width: 1520px) {
  .section-4 {
    bottom: 21rem;
  }
  .turntable4 {
    width: 60%;
  }
  .video-container {
    margin-left: 3rem;
  }
  .playerMode {
    left: 4rem;
    width: 80rem;
  }
}
