.section-6 {
  position: relative;
  z-index: 2;
  width: 1800px;
  padding: 5rem 2.5rem 5rem 2.5rem;
  .container-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0;
  }
  .title {
    // border: 5px solid grey;
    padding-top: unset;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    position: relative;
    max-width: 40rem;
    h2 {
      //   border: 5px solid blue;
      padding-top: 0.1rem;
      font-size: 5.5rem;
      line-height: 1em;
    }
  }
}
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.sub-title {
  // border: 5px solid red;
  max-width: 20rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // bottom: 1rem;
  right: 12rem;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  margin-top: 1.25rem;
  -webkit-animation: jello-vertical 0.9s 1s both infinite;
  animation: jello-vertical 0.9s 1s both infinite;

  p {
    font-size: 4rem;
    line-height: 1.2rem;
  }
  i {
    color: yellow;
  }
}
.grid-holder {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  width: 100%;
  height: 10px;
  padding-top: 70%;
}
.grid-holder2 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  width: 70%;
  height: 10px;
  padding-top: 70%;
}

.img-item {
  aspect-ratio: 1 / 1;
  width: 200px;
  border: solid 0.2rem gray;
  margin: -0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1520px) {
  .section-6 {
    margin-top: 35rem;
  }
}
