.section-3 {
  padding-bottom: 15rem;
  z-index: 2;
  .title {
    padding-top: 0;
    max-width: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  p {
    margin-right: 2rem;
  }
}

.menu {
  grid-column: 1 / 4;
  font-size: 3.625vh;
  max-width: 90vh;
  margin-bottom: 6rem;
  padding-top: 5rem;
}

.turntable2 {
  // opacity: 0;
  float: right;
  position: sticky;
  top: 25rem;
  grid-column: 4 / 10;
  border: 5px solid black;
  width: 800px;
  height: 800px;
}

.point-line {
  border: 5px solid blue;
}

.turn2-nav {
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black;
  height: 7rem;
  --nav-height: 7rem;
}

.turn2-heading {
  margin-left: 3.2rem;
  max-width: 13.6rem;
  font-size: 2rem; //h6
}

.turn2-nav-control {
  height: var(--nav-height);
}

.turn2-nav-arrow:nth-of-type(1) {
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.turn2-nav-arrow {
  width: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  button {
    cursor: pointer;
    width: inherit;
    height: inherit;
  }
  .disable {
    color: gray;
  }
  .arrow-active:hover {
    color: var(--cl-point-orange);
  }
}

.menu-num {
  position: relative;
  transition: all 0.08s ease;
}

.num-inner {
  float: right;
  position: absolute;
  top: 2rem;
  left: -1.5rem;
  opacity: 0;
  // translate: (-100%, 100%);
  transition: all 0.2s ease;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 2.8rem;
  position: relative;

  &:hover,
  &:focus,
  &:active,
  .menu-active {
    color: var(--cl-point-orange);

    .line-inner {
      transform: scaleX(1);
    }
    .menu-num > p {
      opacity: 0;
    }

    .num-inner {
      opacity: 1;
      top: 0.4rem;
      left: -0.05rem;
      color: var(--cl-point-orange);
    }
  }
}

.line {
  width: 100%;
  height: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

.line-inner {
  transform: scaleX(0);
  width: 100%;
  height: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cl-point-orange);
  transition: all 0.1s ease;
}

.content-select-list {
  // border: 5px solid blue;
  padding: 2rem 1rem 1rem 1rem;
  height: 43rem;
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  row-gap: 3rem;
}

.thumb {
  cursor: pointer;
  position: relative;
  vertical-align: center;
  width: 10rem;
  height: 10rem;
  aspect-ratio: 1 / 1;
}

.thumb-overlay {
  position: absolute;
  height: 10rem;
  width: 10rem;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.thumb-label {
  height: 6rem;
  cursor: pointer;
  font-size: 1.3rem;
  max-width: 10rem;
  position: absolute;
  top: 3.5rem;
  left: 0.5rem;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .label-point {
    color: var(--cl-text-light-sub);
  }
}

@media screen and (min-width: 1920px) {
  .turn2-heading {
    margin-left: unset;
  }
  .turn2-nav {
    padding: 0 5rem;
  }
  .turn2-nav-arrow:nth-of-type(2) {
    border-right: 5px solid black;
  }
}
