.section-4 {
  padding-block: 20rem;
  background-color: var(--cl-dark-bg);
  .container.grid {
    grid-template-columns: repeat(16, 1fr);
  }
  p {
    max-width: 50rem;
    font-size: 3rem;
    margin: 0;
  }
  h2 {
    max-width: 55rem;
    font-size: 9rem;
    padding-top: 1rem;
  }
}

.section-4-title {
  position: relative;
  grid-column: 1/8;
}

.txt-light {
  color: var(--cl-text-light);
}

.txt-light-sub {
  color: var(--cl-text-light-sub);
}

.turntable4 {
  grid-column: 10 / 17;
  width: 100%;
  height: 600px;
  background: url(../img/turntable.png) no-repeat center / contain;
}
