.section-6 {
  position: relative;
  z-index: 2;
  width: 1800px;
  //   height: 1080px;
  padding: 5rem 2.5rem 5rem 2.5rem;
  .container-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0;
  }
  .title {
    // border: 5px solid grey;
    padding-top: unset;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    position: relative;
    max-width: 40rem;
    h2 {
      //   border: 5px solid blue;
      padding-top: 0.1rem;
      font-size: 5.5rem;
      line-height: 1em;
    }
  }
}
.sub-title {
  //   border: 5px solid red;
  max-width: 50rem;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  margin-top: 1.25rem;
  p {
    max-width: 13rem;
    font-size: 0.85rem;
    line-height: 1.2rem;
  }
}
.grid-holder {
  border: 5px solid yellow;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  width: 100%;
  height: 10px;
  padding-top: 70%;
}
.grid-holder2 {
  border: 5px solid red;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  width: 70%;
  height: 10px;
  padding-top: 70%;
}
.grid-holder3 {
  border: 5px solid orange;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  width: 70%;
  height: 10px;
  padding-top: 70%;
}
.grid-holder4 {
  border: 5px solid blue;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  width: 70%;
  height: 10px;
  padding-top: 70%;
}
.grid-holder5 {
  border: 5px solid blue;
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  width: 70%;
  height: 10px;
  padding-top: 70%;
}
.grid-holder6 {
  border: 5px solid blue;
  grid-column: 1 / 2;
  grid-row: 10 / 11;
  width: 70%;
  height: 10px;
  padding-top: 70%;
}
.grid-holder7 {
  border: 5px solid blue;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  width: 70%;
  height: 10px;
  padding-top: 70%;
}

.img-item {
  aspect-ratio: 1 / 1;
  width: 200px;
  // height: 500px;
  border: solid 0.2rem gray;
  margin: -0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
