.section-1 {
  background-color: #222222;
  background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;
  padding-top: 15.5rem;
  padding-bottom: 15.5rem;
  @extend %section-size;
  .title {
    max-width: 55rem;
  }
  .main-name {
    color: var(--cl-main-bg);
    margin-left: 17rem;
    margin-bottom: 3rem;
  }
  .sub-name {
    margin-left: 19rem;
    font-size: 4rem;
    line-height: 4rem;
  }
  .sub-name-2 {
    font-size: 3rem;
  }
  .point-orange {
    color: var(--cl-point-orange);
    margin-bottom: 2rem;
  }

  .sub {
    color: var(--cl-text-light-sub);
  }
}

.record-wrap {
  z-index: 3;
}

.record {
  float: right;
  position: sticky;
  z-index: 4;
  top: 20vh;
  left: 50vw;
  width: 800px;
  height: 800px;
  img {
    height: 100%;
  }
}

@media screen and (max-width: 1520px) {
  .section-1 {
    padding-top: 8rem;
    padding-bottom: 10rem;
    .title {
      grid-column: unset;
      font-size: 12vh;
    }
    .main-name {
      margin-left: 1rem;
      margin-bottom: 5rem;
    }
    .sub-name {
      margin-left: 7rem;
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  .turntable1 {
    bottom: 47.9%;
    height: inherit;
    width: 100%;
  }

  .record {
    top: 300px;
    left: 700px;
    width: 600px;
    height: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .section-1 {
    .title {
      grid-column: unset;
      font-size: 19vh;
    }
    .main-name {
      margin-left: 1rem;
      margin-bottom: 5rem;
    }
    .sub-name {
      margin-left: 7rem;
      font-size: 4rem;
      line-height: 4rem;
    }
    .sub-name-2 {
      font-size: 3rem;
    }
    .point-orange {
      margin-bottom: 2rem;
    }
  }
  .turntable1 {
    bottom: 44.9%;
    height: inherit;
    width: 100%;
  }
  .record {
    top: 600px;
    left: 550px;
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .section-1 {
    .title {
      grid-column: unset;
      font-size: 10vh;
    }
  }
}
