.section-1 {
  background-color: #222222;
  background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;
  padding-top: 15.5rem;
  padding-bottom: 15.5rem;
  .title {
    max-width: 55rem;
  }
  .main-name {
    color: var(--cl-main-bg);
    margin-left: 17rem;
    margin-bottom: 3rem;
  }
  .sub-name {
    margin-left: 19rem;
    font-size: 4rem;
    line-height: 4rem;
  }
  .sub-name-2 {
    font-size: 3rem;
  }
  .point-orange {
    color: var(--cl-point-orange);
    margin-bottom: 2rem;
  }
  .point-orange-dark {
    color: var(--cl-orange-dark);
    margin-bottom: 2rem;
  }
  .sub {
    color: var(--cl-text-light-sub);
  }
}
