.section-2 {
  display: flex;
  flex-wrap: nowrap;

  padding-top: 20rem;
  padding-bottom: 20rem;
  margin: 20px 0px 0px 200px;
  h2 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 6rem;
  }
}
