.section-2 {
  display: flex;
  position: relative;
  padding: 20rem 0 40rem 20rem;
  margin: 10rem 0;

  @extend %section-size;
  .title {
    position: absolute;
    max-width: 55rem;
    flex-direction: column;
    align-items: center;
  }
  .quote {
    font-size: 5rem;
  }
  .quote-artist {
    font-size: 3.5rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1600px) {
  .section-2 {
    .title {
      right: 30vw;
    }
    .quote {
      font-size: 4rem;
    }
    .quote-artist {
      font-size: 2.5rem;
    }
  }
}
@media screen and (max-width: 1440px) {
  .section-2 {
    .title {
      right: 40vw;
      max-width: 40rem;
    }
    .quote {
      font-size: 4rem;
    }
    .quote-artist {
      font-size: 2.5rem;
    }
  }
}
@media screen and (max-width: 1280px) {
  .section-2 {
    .title {
      top: 15rem;
    }
  }
}
@media screen and (max-width: 1024px) {
  .section-2 {
    .title {
      top: 25rem;
      left: 15rem;
    }
    .quote {
      font-size: 3rem;
    }
    .quote-artist {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .section-2 {
    .title {
      top: 50rem;
      left: 15rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .section-2 {
    padding: 20rem 0 20rem 20rem;
  }
}
