.section-2 {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20rem;
  padding-bottom: 40rem;
  margin: 20px 0px 0px 200px;
  @extend %section-size;
  h2 {
    width: 100%;
    height: 20rem;
    flex-direction: column;
    align-items: center;
    position: relative;
    // padding: 6rem;
  }
  .quote {
    font-size: 5rem;
  }
  .quote-artist {
    font-size: 3.5rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .section-2 {
    h2 {
      position: relative;
      right: 25rem;
      font-size: 5rem;
    }
  }
}
