.section-1 {
  position: relative;
  background-color: #222222;
  background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;
  padding-top: 15.5rem;
  padding-bottom: 15.5rem;
  @extend %section-size;
  .title {
    position: absolute;
    max-width: 55rem;
  }
  .main-name {
    color: var(--cl-main-bg);
    margin-left: 17rem;
    margin-bottom: 3rem;
  }
  .sub-name {
    margin-left: 19rem;
    font-size: 4rem;
    line-height: 4rem;
  }
  .sub-name-2 {
    font-size: 3rem;
  }
  .point-orange {
    color: var(--cl-point-orange);
    margin-bottom: 2rem;
  }

  .sub {
    color: var(--cl-text-light-sub);
  }
}

.record {
  float: right;
  position: sticky;
  z-index: 1;
  top: 20vh;
  left: 50vw;
  width: 700px;
  height: 700px;
  img {
    height: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .record {
    width: 800px;
    height: 800px;
  }
}
@media screen and (max-width: 1440px) {
  .section-1 {
    .title {
      max-width: 100%;
      right: 20vw;
      height: 90%;
      bottom: 1vh;
    }
    .main-name {
      margin-left: unset;
    }
    .sub-name {
      margin-left: 7rem;
    }
  }
}
@media screen and (max-width: 1280px) {
  .section-1 {
    .title {
      max-width: 100%;
      right: 2vw;
      height: 90%;
      bottom: 1vh;
    }
    .main-name {
      margin-left: unset;
    }
    .sub-name {
      margin-top: 55vh;
      margin-left: 27rem;
      font-size: 4rem;
      line-height: 4rem;
    }
    .sub-name-2 {
      font-size: 3rem;
    }
  }
  .record {
    width: 600px;
    height: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .section-1 {
    .title {
      max-width: 100%;
      right: 2vw;
      height: 90%;
      bottom: 1vh;
    }
    .main-name {
      margin-left: unset;
    }
    .sub-name {
      margin-top: 55vh;
      margin-left: 27rem;
      font-size: 4rem;
      line-height: 4rem;
    }
    .sub-name-2 {
      font-size: 3rem;
    }
  }
  .record {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 800px) {
  .section-1 {
    .title {
      margin: 0 auto;
      max-width: 100%;
      right: 1vw;
      height: 70%;
      bottom: 20vh;
    }
    .main-name {
      margin-left: unset;
    }
    .sub-name {
      margin-top: 40vh;
      margin-left: 19rem;
      font-size: 4rem;
      line-height: 4rem;
    }
    .sub-name-2 {
      font-size: 3rem;
    }
  }
  .record {
    width: 400px;
    height: 400px;
  }
}

// @media screen and (max-width: 768px) {
//   .section-1 {
//     .title {
//       grid-column: unset;
//       font-size: 10vh;
//     }
//   }
// }
