.section-5 {
  --container-width: 1728px;
  --grid-column: 16;
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;

  .title-5 {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    margin-top: 2.2rem;
    position: relative;
    max-width: 40rem;
    height: 2rem;
    h2 {
      font-size: 5.5rem;
      line-height: 1em;
    }
  }
  .container-grid-5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0;
  }
}
.sub-title {
  border: 5px solid blue;
  max-width: 50rem;

  grid-column: 4 / 6;
  grid-row: 1 / 2;
  margin-top: 1.25rem;
  p {
    max-width: 13rem;
    font-size: 0.85rem;
    line-height: 1.2rem;
  }
}

.grid-holder {
  grid-column: 4/5;
  grid-row: 2/3;
  width: 100%;
  height: 0;
  padding-top: 70%;
  border: 5px solid black;
}

.map {
  border: solid 0.2rem #3d3d3d;
  grid-column: 4/7;
  grid-row: 4/6;
  padding-left: 6.9rem;
  padding-right: 5.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -0.1rem;
  background: url(../../img/turntable.png) no-repeat center / contain;
}

.img-item {
  aspect-ratio: 1 / 1;
  aspect-ratio: 1/1;
  border: solid 0.2rem gray;
  margin: -0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
