.section2-2 {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.horizon-item {
  border: 1px solid var(--cl-dark-bg);
  width: 1000px;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
}

.color-stack {
  padding: 1.2rem;
  margin: 0 auto;
  grid-template-columns: 450px 450px;
  grid-template-rows: 450px 450px;
  column-gap: 0;
}

%labels {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

%color-back-labels {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

%font-stack-h2 {
  position: relative;
  bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

@mixin colors($border-color, $color) {
  border: 3px solid $border-color;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 400px;
  height: 400px;
  color: $color;
  transform: perspective(600px) rotateX(0deg);
  transition: all 0.7s ease;
  transform-style: preserve-3d;
}

@mixin front($bg-color) {
  height: 100%;
  position: relative;
  background-color: $bg-color;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  label {
    @extend %labels;
  }
  i {
    animation: upDown 0.3s infinite alternate;
    margin-right: 1rem;
  }
}

@mixin back($bg-color) {
  position: relative;
  height: 100%;
  bottom: 25rem;
  background-color: $bg-color;
  transform: rotateX(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  label {
    @extend %color-back-labels;
  }
}

@keyframes upDown {
  0% {
    margin-top: 5px;
    transform: scaleY(0.95) skew(1deg);
  }
  100% {
    margin-top: 0px;
  }
}
.grayish-orange {
  @include colors(var(--cl-text-light-sub), var(--cl-dark-bg));

  .front {
    @include front(var(--cl-main-bg));
  }
  .back {
    @include back(var(--cl-main-bg));
  }
}

.red-Tangelo {
  @include colors(none, var(--cl-dark-bg));

  .front {
    @include front(var(--cl-point-orange));
  }
  .back {
    @include back(var(--cl-point-orange));
  }
}

@mixin card-hover($color) {
  transform: perspective(600px) rotateX(180deg);
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3), -10px -10px 10px $color;
}

.card-wrap {
  width: 90%;
  height: 90%;
  &:hover .grayish-orange {
    @include card-hover(var(--cl-main-bg));
  }
  &:hover .red-Tangelo {
    @include card-hover(var(--cl-point-orange));
  }
}

.main-fonts {
  h2 {
    @extend %font-stack-h2;
  }
}
.f-400 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 400;
}
.f-700 {
  font-size: 3rem;
  font-weight: 700;
}
.f-900 {
  font-size: 3rem;
  font-weight: 900;
}

.stack {
  grid-row: 2/3;
  grid-column: 2/3;
  flex-direction: column;
  justify-content: center;
  h2 {
    @extend %font-stack-h2;
  }
}

.stack-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70px;
  height: 70px;
  img {
    // margin-left: 1rem;
  }
  label {
    @extend %labels;
    margin-left: 7rem;
  }
}

.skills {
  padding: 2rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  > div {
    flex-grow: 1;
  }
}

.skill {
  padding: 0.2rem 1rem;
  .skill-label {
    @extend %labels;
    h2 {
      font-weight: 700;
    }
  }
  .skill-progress {
    margin-top: 4rem;
  }
  progress {
    appearance: none;
    width: 200px;
  }
  .progress-value {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 4.5rem;
    bottom: 4.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: var(--cl-point-orange);
  }
  progress::-webkit-progress-bar {
    background-color: white;
  }
  progress::-webkit-progress-value {
    overflow: hidden;
    background-color: var(--cl-point-orange);
    opacity: 0.5;
  }
  .skill-script {
    position: relative;
    bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    max-width: 40rem;
  }
}

.about {
  > div {
    flex-grow: 1;
  }
}

.profile {
  padding: 1rem;
  img {
    padding: 1rem;
    width: 400px;
    aspect-ratio: 1 / 1.5;
  }
}
.profile-icons {
  margin-top: 2.5rem;
  padding: 1rem;
  flex-direction: column;
  i {
    color: var(--cl-dark-bg);
    opacity: 0.7;
    margin-right: 0.7rem;
  }
  label {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
  }
  > div {
    cursor: pointer;
    align-items: center;
    margin-bottom: 2rem;
  }
}
.profile-script {
  padding: 5rem 1rem 0 1rem;
  font-size: 1.3rem;
  max-width: 35rem;
  h2 {
    font-weight: 900;
    margin-left: 3rem;
    margin-bottom: 3rem;
  }
}

.profile-list {
  padding: 0;
  margin: 50px auto;
  text-align: center;
}
.profile-list li {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  padding: 20px 10px 20px;
  position: relative;
  vertical-align: top;
  margin-bottom: 2rem;
  background: #262a2b;
  border: 1px solid #252727;
  text-align: left;
  h3 {
    font-size: 4.5rem;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    bottom: 3rem;
    right: 2rem;
    transition: all 0.3s ease-in-out;
  }
  h4 {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 20px;
    color: #b7b7b7;
  }
  p {
    max-width: 23rem;
    font-weight: 700;
    opacity: 0.5;
    font-size: 16px;
    line-height: 18px;
    color: #b7b7b7;
    padding-left: 2rem;
    padding-top: 1rem;
    transition: all 0.3s ease-in-out;
  }

  &:hover p {
    opacity: 1;
  }
  &:hover h3 {
    opacity: 0.6;
  }
  &:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(4deg, 4deg);
  }
  &:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.02);
  }
  &:nth-child(1):before {
    background: #c9ffbf;
    background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
    background: linear-gradient(to right, #ffafbd, #c9ffbf);
  }
  &:nth-child(2):before {
    background: #f2709c;
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    background: linear-gradient(to right, #ff9472, #f2709c);
  }
  &:nth-child(3):before {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
  }
  &:nth-child(4):before {
    background: #fc354c;
    background: -webkit-linear-gradient(to right, #0abfbc, #fc354c);
    background: linear-gradient(to right, #0abfbc, #fc354c);
  }
}
@media screen and (max-width: 800px) {
  .grayish-orange {
    .back {
      bottom: 28.6rem;
    }
  }

  .red-Tangelo {
    .back {
      bottom: 28.6rem;
    }
  }
}
