body {
  background-color: var(--cl-main-bg);
  color: var(--white);
  height: 950dvh;
}

.container {
  padding: 0 50px;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 5rem;
}

.flex {
  display: flex;
}

.txt-up {
  text-transform: uppercase;
}

.txt-black {
  font-family: HelveticaNowDisplay;
  font-weight: 900;
}

.title {
  grid-column: 1 / 3;
  font-size: 9.625vh;
  max-width: 100vh;
  margin-bottom: 6rem;
  padding-top: 5rem;
  line-height: 1em;
}
