body {
  background-color: var(--cl-main-bg);
}

.container {
  padding: 0 50px;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 5rem;
}

.flex {
  display: flex;
}

.txt-up {
  text-transform: uppercase;
}

.txt-black {
  font-family: HelveticaNowDisplay;
  font-weight: 900;
}

.title {
  grid-column: 1 / 4;
  font-size: 9.625vh;
  max-width: 100vh;
  margin-bottom: 6rem;
  padding-top: 5rem;
  line-height: 1em;
}

main {
}
.wrapper {
  position: relative;
  height: 350vh;
}

.turntable1 {
  // grid-column: 4/10;
  // display: flex;
  // justify-content: flex-end;
  // border: 5px solid red;
  z-index: 3;
  position: absolute;
  bottom: 42.9%;
  height: inherit;
  width: 100%;
}

.record {
  position: sticky;
  z-index: 4;
  top: 27vh;
  left: 65rem;
  width: 40%;
  height: 60vh;
  animation: neon2 1.5s ease-in-out infinite alternate;
  img {
    height: 100%;
  }
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}
